
@{
    Layout = null;
}
@model examinationPlatform.Models.ExamStorage
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/exam.css">
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/exam.js"></script>
    <title>考试页面</title>
</head>
<body>
    <form class="layui-form content" action="">
        <div class="layui-fluid">
            <div class="header navbar-fixed-top">
                <div class="layui-nav">
                    <div class="layui-col-md10 layui-col-md-offset1">
                        <div class="layui-row">
                            <div class="layui-col-md9">
                                <ul class="list-unstyled list-inline">
                                    <li>
                                        <h3 class="logo">演示试卷一</h3>
                                    </li>
                                </ul>
                            </div>
                            <div class="layui-col-md3">
                                <ul class="list-unstyled list-inline up2">
                                    <li>
                                        <h3 class="logo"><span id="timer_h"></span>：<span id="timer_m"></span>：<span id="timer_s"></span></h3>
                                    </li>
                                    <li class="pull-right">
                                        <a href="javascript:;" @*onclick="javascript:$('#submodal').modal();"*@ class="menu"  lay-submit lay-filter="formDemo">
                                            <i class="layui-icon">&#xe66d;</i>  交卷
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md10 layui-col-md-offset1 down">
                <h1 style="padding:15px 0px; font-weight: bold;">一:单选题</h1>
                @{
                    int i = 1;
                    foreach (var item in Model.ExamContent.Select(a => a.Test).Where(a => a.Type == "choice"))
                    {
                        <div class="layui-card ">
                            <div class="layui-card-header">
                                第 @i 题
                                <span class="choice-btn right">
                                    收藏
                                </span>
                            </div>
                            <div class="layui-card-body">
                                <div class="title">
                                    @item.Title
                                </div>
                                <div class="desc">
                                    <p></p><p>A:@item.Content.Split('`')[0]</p><p>B: @item.Content.Split('`')[1]</p><p>C:@item.Content.Split('`')[2]</p><p>D:@item.Content.Split('`')[3]</p><p></p>
                                </div>

                                    <div class="layui-form-item">
                                        <input type="radio" name="@item.Id" value="A" title="A">
                                        <input type="radio" name="@item.Id" value="B" title="B">
                                        <input type="radio" name="@item.Id" value="C" title="C">
                                        <input type="radio" name="@item.Id" value="D" title="D">
                                    </div>


                            </div>
                        </div>
                          i++;
                    }
                  
                }
                @{
         
                    <h1 style="padding:15px 0px; font-weight: bold;">二:填空题</h1>
                    foreach (var item in Model.ExamContent.Select(a => a.Test).Where(a => a.Type == "blank"))
                    {
                        <div class="layui-card ">
                            <div class="layui-card-header">
                                第 @(i) 题
                                <span class="choice-btn right">
                                    收藏
                                </span>
                            </div>
                            <div class="layui-card-body">
                                <div class="title">
                                    @item.Title
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block" style="margin-left: 0px;">
                                        <input type="text" name="@item.Id"  placeholder="请输入答案" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
            </div>
            </div>
                i++;
        }
        <h1 style="padding:15px 0px; font-weight: bold;">三:判断题</h1>
        foreach (var item in Model.ExamContent.Select(a => a.Test).Where(a => a.Type == "judege"))
        {
            <div class="layui-card ">
                <div class="layui-card-header">
                    第 @(i) 题
                    <span class="choice-btn right" onclick="ToCollect(@item.Id)">
                        收藏
                    </span>
                </div>
                <div class="layui-card-body">
                    <div class="title">
                        @item.Title
                    </div>
                        <div class="layui-form-item">
                            <input type="radio" name="@item.Id" value="true" title="正确">
                            <input type="radio" name="@item.Id" value="false" title="错误">
                        </div>
                </div>
            </div>
        }
                        i++;
                }


                </div>

                </div>
                </form>
                <script>
                    //Demo
                    layui.use('form', function () {
                        var form = layui.form;      
                        //监听提交
                        form.on('submit(formDemo)', function (data) {
                            layer.confirm('确认要交卷吗？', function (index) {
                                layer.close(index);
                                localStorage.clear();
                                    //捉到所有被选中的，发异步进行删除
                                    $.ajax({
                                        type: "POST",                                   
                                        url: "/user/exam_Result",
                                        dataType:'text',
                                        data: {data:JSON.stringify(getData()) },
                                        success: function (data) {
                                            console.log(data);
                                            location.replace(data);
                                        }
                                    })
                                });
                        });
                    });
                    $(document).ready(function () {
                        hour =@Model.Time.Split('`')[0];
                        minutes=@Model.Time.Split('`')[1];
                        initata = localStorage.getItem("data");
                        console.log(initata);
                        if (initata != null) {
                            test();
                        }
                        strm = minutes;
                        if (seconds < 10) strs = "0" + seconds
                        if (minutes < 10) strm = "0" + minutes
                        if (hour < 10) strh = "0" + hour;
                        $('#timer_s').html(strs);
                        $('#timer_h').html(strh);
                        $('#timer_m').html(strm);
                        var int = self.setInterval("clock()", 1000);
                        self.setInterval("getData()", 10000);
                    })
                            function ToCollect(id) {
                                $.ajax({
                                    url: '/user/CollectTest',
                                    type: 'post',
                                    dataType: 'text',
                                    data: "id=" + id,
                                    success: function (data) {
                                        console.log(data);
                                        if (data == '1') {
                                            layer.msg('收藏成功');
                                            table.reload(obj.config.id, {});
                                        } else if(data=='0') {
                                            layer.msg('收藏已存在');
                                        }
                                    },
                                    'error': function () {
                                        layer.msg('系统错误');
                                    }
                                })
                            }
                </script>
            </body>
</html>